.searchItem {
  padding: 8px 15px;
  display: block;
  background: #3b73b3;
  text-decoration: none;
}

.searchItem span {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchItem span.empty {
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}

.searchItem  b {
  font-weight: 700;
}

.searchItem  i {
  font-style: normal;
}

.searchItem:hover {
  background: #2a527f;
}

.searchItem:last-child {
  border: none;
}
